<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


  <%- include('partials/_header') %>
  <br/>
  <h1>Login to TinyApp</h1>
  <br/>
  <form method="POST" action="/login">
    <label for="email">Email:</label>
    <br/>
    <input id="email" type="email" name="email" required />
    <br/>
    <label for="password">Password:</label>
    <br/>
    <input id="password" type="password" name="password" required />
    <br/>
    <br/>
    <button type="submit" class="btn btn-primary btn-lg">login</button>
  </form>
</body>
</html>